name: Build and Test

on:
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - 'docs/**'
      - '.github/**'
      - 'README.md'
      - '.editorconfig'
      - 'GitVersion.yml'
      - '.*'
  workflow_dispatch:

jobs:
  build-and-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Restore
        run: dotnet restore Ulfdrasil.slnx

      - name: Build and Test
        run: dotnet test Ulfdrasil.slnx --configuration Release --no-restore --logger trx --results-directory "TestResults"

      - name: Upload dotnet test results
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-results
          path: TestResults
